{% extends "main_base.html"%}
{% block content %}
<head>
    <style>
        .button1 {
  background-color: #06163A;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
  border-radius: 4px;
}
    </style>
</head>
{% for i in res %}
<table style="font-weight: bold; font-size: 3vh;">
    <br>
    <tr>
        <td>Name: {{i[1]}}</td>
    </tr>
    <tr>
        <td>Email: {{i[2]}}</td>
    </tr>
    <tr>
        <td>Mobile No: {{i[3]}}</td>
    </tr>
    <tr>
        <td>Date of Birth: {{i[4]}}</td>
    </tr>
    <tr>
        <td>Address: {{i[5]}}</td>
    </tr>
    <tr>
        <td>State: {{i[6]}}</td>
    </tr>
    <tr>
        <td>City: {{i[7]}}</td>
    </tr>
    <tr>
        <td>Pincode: {{i[8]}}</td>
    </tr>
    <tr>
        <td>Course: {{i[11]}}</td>
    </tr>
    <tr>
        <td>Branch: {{i[12]}}</td>
    </tr>
    <tr>
        <td>Collage: {{i[13]}}</td>
    </tr>
    <tr>
        <td>Place: {{i[14]}}</td>
    </tr>
    <tr>
        <td>Year of Graduation: {{i[15]}}</td>
    </tr>
    <tr>
        <td>Interested Areas: {{i[16]}}</td>
    </tr>
</table>
<br>
<a button class="button1" href="/updatebio">Update</button></a>
{% endfor %}
{% endblock %}