{% extends "main_base.html"%}
{% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
               <script>
                function myFunction() {
                  alert("{{message}}");
                }
                myFunction()
                </script>
               {% endfor %}  
         {% endif %}  
      {% endwith %}
{% block content %}
<div class="col-sm-9">
  <div class="row">
    {% for i in res %}
    <div class="col-sm-3">
      <div class="well">
        <img src="{{ url_for('static', filename=i[9])}}" alt="" height="100vh" width="100vw">
        <h4>{{i[2]}}</h4>
        <p>Staring Date: {{i[3]}}</p>
        <a href="/event_des/{{i[0]}}"><button>Details</button></a> 
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<a href="/event"><img src="{{ url_for('static', filename='image/addimg1.png')}}" alt="" style="position: fixed; right: 2vw; bottom: 2vw; height: 10vh;"></a>
{% endblock %}