{% extends "main_base.html"%}
{% block content %}
<form action="/bioupdate1" method="POST">
  <h3><u>Personal Details</u></h3><br>
  {% for i in res %}
  <div class="form-group">
    <label for="name">Name</label>  
    <input type="text" name="nm" class="form-control" id="exampleFormControlInput1" value="{{i[1]}}">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" name="em" class="form-control" id="exampleFormControlInput1" value="{{i[2]}}">
  </div>
  <div class="form-group">
    <label for="phone">Mobile No</label>
    <input type="number" name="mob" class="form-control" id="exampleFormControlInput1" value="{{i[3]}}">
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" class="form-control" id="exampleFormControlInput1" value="{{i[4]}}">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <textarea  name="addr" class="form-control" id="exampleFormControlTextarea1" rows="3">{{i[5]}}</textarea>
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input type="text" name="st" class="form-control" id="exampleFormControlInput1" value="{{i[6]}}">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" name="ct" class="form-control" id="exampleFormControlInput1" value="{{i[7]}}">
  </div>
  <div class="form-group">
    <label for="pin">Pincode</label>
    <input type="number" name="pin" class="form-control" id="exampleFormControlInput1" value="{{i[8]}}">
  </div>
  <input type="hidden" name="id1" value="{{i[0]}}">
  <div class="form-group">
    <label for="course">Course</label>  
    <input type="text" name="cou" class="form-control" id="exampleFormControlInput1" value="{{i[11]}}">
  </div>
  <div class="form-group">
    <label for="branch">Branch</label>
    <input type="text" name="bch" class="form-control" id="exampleFormControlInput1" value="{{i[12]}}">
  </div>
  <div class="form-group">
    <label for="college">College Name</label>
    <input type="text" name="colnm" class="form-control" id="exampleFormControlInput1" value="{{i[13]}}">
  </div>
  <div class="form-group">
    <label for="place">Place</label>
    <input type="text" name="pl" class="form-control" id="exampleFormControlInput1" value="{{i[14]}}">
  </div>
  <div class="form-group">
    <label for="yog">Year of Graduation</label>
    <input type="number" name="yog" class="form-control" id="exampleFormControlInput1" value="{{i[15]}}">
  </div>
  <div class="form-group">
    <label for="interest">Interested Areas</label>
    <input type="text" name="ia" class="form-control" id="exampleFormControlInput1" value="{{i[16]}}">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
  <br>
  {% endfor %}
</form>
{% endblock %}